@charset "UTF-8";

.animation-title{
	opacity: 0;
		animation: fadein 0.5s ease-in both;
	animation-delay: 0s;
}

col{
	opacity: 0;
}

#dp-Phyleas{
	animation: fadein 0.5s ease-in both;
	animation-delay: 1s;
}

#dp-Mybubble{
	animation: fadein 0.5s ease-in both;
	animation-delay: 1.2s;
}

#dp-Myni{
	animation: fadein 0.5s ease-in both;
	animation-delay: 1.4s;
}

#dp-Movo{
	animation: fadein 0.5s ease-in both;
	animation-delay: 1.6s;
}

#dp-Eggup{
	animation: fadein 0.5s ease-in both;
	animation-delay: 1.8s;
}

#dp-Learn{
	animation: fadein 0.5s ease-in both;
	animation-delay: 2s;
}

#dp-Trenord{
	animation: fadein 0.5s ease-in both;
	animation-delay: 2.2s;
}

#dp-Anagrafe{
	animation: fadein 0.5s ease-in both;
	animation-delay: 2.4s;
}

#dp-Lotte{
	animation: fadein 0.5s ease-in both;
	animation-delay: 2.6s;
}

#dp-Buckets{
	animation: fadein 0.5s ease-in both;
	animation-delay: 2.8s;
}

#dp-Cookie{
	animation: fadein 0.5s ease-in both;
	animation-delay: 1s;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


/*footer style*/
footer {
  padding: 60px 0px 60px 0px;
  background-color: grey;
  color: whitesmoke;
  font-size: 13px;
	text-align: center;
}

/*about me*/


.download-pdf2 {
	
  color: white;
  margin-bottom: 25px;
	padding: 22px 0 22px 0 !important;
  background-color: gray;
  border-radius: 2.25rem;
  float: center;
	display: block;
}
.download-pdf2:hover, .download-pdf2:focus {
  z-index: 1;
  color: white;
   background-color: black;
}

.download-pdf2:active {
  background-color: black;
}

.profile-img{
	border-radius: 10rem;
	background-color: whitesmoke;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
}

.container-photo-text{
	margin-top: 15px;
	padding-bottom: 40px;
}

.about-title, .about-subtitle{
margin: 0px;
}


.margin-about{
	position: relative;
	right: 3%;
}

.text-about{
	font-size: 14px;
}

strong{
	color:black;
}

.margin-bottom{
	margin-bottom: 30px;
}

.margin-top{
	margin-top: 30px;
}

.card{
	border: none;
}

.contact-image{
	height: 200px;
    width: auto;
	margin-bottom: 30px;
}

.tab-pane{
	width: 100% !important;
}

.container-fluid{
	padding: 0;
}

.padding-about{
	padding-left: 10%;
	padding-right: 10%;
}

.social-contact{
  text-decoration: underline;
  color: black !important;
  border-radius: 2rem;
  float: inherit;

}

.padding-text{
	padding: 3rem;
}

.coral-text{
	color: black;
}

