@charset "UTF-8";
body {
 /* overflow-x: hidden;*/
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 16px;
}

/* Toggle Styles */
#viewport {
  padding-left: 16%;
	width: 100% !important;
}
#content {
  width: 100% !important;
  display: block;
  margin-right: -50px;
  padding: 50px;
}

/* Sidebar Styles */
#sidebar {
  background-color: whitesmoke;
  padding: 115px 0 50px 5px;
  z-index: 1000;
  position: fixed;
  left: 16%;
  width: 16%;
  height: 100%;
  margin-left: -16%;
  overflow-y: auto;
  font-size: 14px;
  font-weight: lighter;
}
.list-group-item-action:hover, .list-group-item-action:focus {
  z-index: 1;
  color: #495057;
  background-color: #E9C7BC;
}
.list-group-item-action:active {
  color: #212529;
  background-color: #EA9B82;
	
}
.list-group-item {
  width: auto;
  margin-bottom: 5px;
  padding: 10% 0 10% 0;
  border-radius: 2.25rem 0 0 2.25rem;
  background-color: whitesmoke;
  border: 0px;
}
.list-group {
  background-color: whitesmoke;
  border: 0px;
}
.list-group-item.active {
  margin-top: 0px;
  z-index: 2;
  color: #fff;
  background-color: coral;
}
.list-group-item + .list-group-item.active {
  margin-top: 0px;
  border-top-width: 0px;
}
.list-group-item:first-child, .list-group-item:last-child {
  border-radius: 2.25rem 0 0 2.25rem;
}

/* navbar */
.navbar-custom {
  position: fixed;
  z-index: 1000;
  padding: 10px 16% 10px 50px;
  background-color: white;
  width: 100%;
  float: none;
}
.icon-top-bar {
  font-size: 15px;
  margin-right: 5px;
  padding: 6px 8px 6px 8px;
  color: white !important;
  background-color: coral ;
  border-radius: 50%;
  float: right;
	text-decoration: none;
}
.icon-top-bar:hover {
	background-color: #FFDBCF;
	color:coral;
	text-decoration: none;
}
.icon-margin-50 {
  margin-right: 50px;
}
.download-pdf {
  color: #495057;
  width: 90%;
  margin-top: 15px;
  padding: 7% 0 7% 0;
  background-color: whitesmoke;
  border-radius: 2.25rem;
display: block;
}
.download-pdf:hover, .download-pdf:focus {
  z-index: 1;
  color: #495057;
  background-color: #D7D7D7;
}
.menu-icon {
  font-size: 0px;
  padding: 0px;
  color: white !important;
  background-color: coral;
  border-radius: 50%;
  float: left;
  border: none;
}
.navbar-default .menu-icon, .navbar-default .menu-icon:hover, .navbar-default .menu-icon:focus {
  background-color: coral;
}
.navbar-default .menu-icon {
  background-color: #fff;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
	
.color-h4{
	display: block !important;
}
.space {
  padding-bottom: 36px;
}
	
  .menu-icon {
    font-size: 15px;
    margin-right: 5px;
    padding: 6px 8px 6px 8px;
    cursor: pointer;
  }
  .affix {
    position: static;
  }
  #affix {
    width: 100%;
  }
  #viewport {
    padding-left: 0%;
  }
  #content {
    margin: 0;
    padding: 3%;
  }
  h1 {
    padding-left: 3%;
	margin-top: 60px !important;
  }
	
	h2 {
		font-size: medium !important;
	}
	
	.container-photo-text{
	padding-bottom: 50px !important;
}

	.profile-img{
		margin-top:30px !important;
	}
	
  .space {
    padding-bottom: 70px;
    padding-left: 3%;
  }
  .navbar-custom {
	  padding: 3% 0 10px 3%;
  }
	
	.icon-margin-50 {
  margin-right: 3%;
}
	
  #sidebar {
    margin-left: -100%;
    font-size: 20px;
    padding-left: 0;
  }
  .sidebar-hide {
    display: none;
  }
  .list-group-item {
    width: auto;
    margin-bottom: 15px;
    padding: 8% 0 8% 0;
    border-radius: 2.25rem;
  }
  .list-group-item:first-child, .list-group-item:last-child {
    border-radius: 2.25rem;
  }
  .sidebar-offcanvas {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    z-index: 51;
    margin: 0px;
    padding: 150px 150px 20px 150px;
    position: fixed;
    top: 0px;
    left: -100%;
  }
  .sidebar-offcanvas ul li {
    margin: 0
  }
  .sidebar-offcanvas ul li a {
    color: #fff;
    padding: 15px 20px;
    margin: 0;
    font-size: 15px;
  }
  .sidebar-offcanvas ul li a:hover {
    background: #54303a;
    border: none;
    border-radius: 0
  }
  .nav {
    margin-top: 0px;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    background-color: #ff625f
  }
  .active {
    left: 0;
  }
}

/*space */
h1 {
  padding-top: 60px;
}
.color-h4{
	display: none;
}
.space {
  padding-bottom: 70px;
}
.padding-left {
  padding-left: 2%;
}
.padding-bottom {
  padding-bottom: 55px;
}
h2{
	padding-top: 30px;
}

/*footer style*/
footer {
  padding: 3%;
  background-color: grey;
  color: whitesmoke;
  font-size: 13px;
}

/*about me*/
.download-pdf2 {
	
  color: #495057;
  width: 95%;
  margin-top: 25px;
  padding: 7% 0 7% 0;
  background-color: #FFDBCF;
  border-radius: 2.25rem;
  float: center;
	display: block;
}
.download-pdf2:hover, .download-pdf2:focus {
  z-index: 1;
  color: #495057;
   background-color: #EA9B82;
}

.download-pdf2:active {
  background-color: #EA9B82;
}

.profile-img{
	border-radius: 10rem;
	background-color: whitesmoke;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
}

.container-photo-text{
	margin-top: 15px;
	padding-bottom: 40px;
}

.about-title{
margin: 0px;
}

.about-subtitle{
	margin: 0px;
}

.margin-about{
	position: relative;
	right: 3%;
}

.text-about{
	font-size: 14px;
}

strong{
	color:coral;
}

.margin-bottom{
	margin-bottom: 30px;
}

.margin-top{
	margin-top: 30px;
}

.card{
	border: none;
}

.contact-image{
	height: 200px;
    width: auto;
	margin-bottom: 30px;
}

.tab-pane{
	width: 100% !important;
}

.container-fluid{
	padding: 0;
}

.padding-about{
	padding-left: 10%;
	padding-right: 10%;
}

.social-contact{
  text-decoration: underline;
  color: coral !important;
  border-radius: 2rem;
  float: inherit;

}
