@charset "utf-8";
@import url("../css/timeline.css");

span{
	display: inline-block;
}

.card-img-top{
	padding:5px 0px;
}

.card-title{
	margin-bottom:0;
	text-align: center;
	margin: auto;
}

.card-text{
	padding-bottom:5px;
	text-align: center;
	font: italic;
	margin: auto;
}

.slider{
	padding: 0 5%;
}

.card-container{
	padding: 5%;
}

.description{
	font-size: 80%;
}

.parallax {
  /* The image used */
  background-image: url("../images/Hero-banner.png");  
  width: 100%;  
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.responsive-separation{
	border-right: solid;
}

p {
  color: #485280;
  font-size: medium;
}
.section-title-edu {
  color: hsla(229, 28%, 39%, 1.00);
  margin-top: 100px;
  margin-bottom: 50px;
}

.section-title {
  color: hsla(229, 28%, 39%, 1.00);
  padding-top: 100px;
  padding-bottom: 50px;
	border-top: solid;
	border-top-color: #F4A584;
}

.bluebox {
  background-color: #485280;
  padding: 50px;
  margin-bottom: 150px;
}
.section {
  background-color: #FFFFFF;
  padding-bottom: 50px;
  position: relative;
}

.hero-banner {
  padding-top: 35%;
  padding-bottom: 35%;
}
.dot::before{
    content: "\26AB";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: transparent; 
	text-shadow: 0 0 0 #F4A584;
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 2em; /* Also needed for space (tweak if needed) */
    margin-left: -2em; /* Also needed for space (tweak if needed) */
    background-size: 10px 10px;
}

.pbar{
    display: inline-block;
    width: 55%;
    margin: 10px 20px 0px 0px;
    background-color: whitesmoke;
    float: right;
}

.pbar2{
	margin:-0.5px 0px 0px 0px;
    text-align: right;
    background-color: #F4A584;
	float: left;
}

@media screen and (max-width: 1199px) {
	.pbar{
width: 50%;
}
}
@media screen and (max-width: 992px) {
	.responsive-separation{
		border-right: none;
}
.pbar{
 width: 75%;
}
.section-title-edu {
  margin-top: 150px;
}
  .bluebox {
    margin-bottom: 0px;
  }
  .hero-banner {
    padding-top: 40%;
    padding-bottom: 40%;
  }
  .parallax {
    background-position: center 25%;
    background-size: 110%;
  }
}
@media screen and (max-width: 768px) {
		.pbar{
width: 55%;
}
  .parallax {
    background-position: center top;
    background-size: 100%;
	  background-attachment: scroll;
  }
  .hero-banner {
    padding-top: 50%;
    padding-bottom: 50%;
  }
}
@media screen and (max-width: 600px) {
	span{
	font-size: small;
	}
	
  .parallax {
  width: 100%;
  background-image: url("../images/bg-mobile.png");
  background-attachment: scroll;
  background-position: center center;
  background-size: 100%;
}
  .bluebox {
    padding: 20px;
  }
	
	.slider{
	padding: 0 5%;
	padding-bottom: 100px;
}
}

@media screen and (max-width: 480px) {
		.pbar{
width: 50%;
	}
}

@media screen and (max-width: 400px) {
		.pbar{
width: 45%;
	}
}

	