@charset "UTF-8";
body {
    background-color: #F3EBE4;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  font-size: 16px;
}

.title, h1, h2, h3, h4, h5 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }

  .fw-extralight {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  .fw-light {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .fw-regular {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .fw-medium {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .fw-semibold {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .fw-bold {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .fw-black {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  
