@charset "utf-8";
.timeline{
	list-style: none;
	padding: 50px 0 20px;
	position: relative;
}

.text-align-right{
	text-align: right;
}

.timeline:before {
	top:0;
	bottom:0;
	position: absolute;
	content:" ";
	width: 4px;
	background-color: #485280;
	left: 50%;
	margin-left: -2px;
}

.timeline > li {
	margin-bottom: 20px;
	position: relative;
}

.timeline > li:before,
.timeline > li:after{
	content: " ";
	display: table;
}

.timeline > li:after{
	clear:both;
}

.timeline>li>.timeline-box{
	width: 46%;
	float: left;
	padding: 20px 30px;
	position: relative;
}

.timeline>li>.timeline-circle{
	width: 26px;
	height: 26px;
	position: absolute;
	top:33%;
	left: 50%;
	margin-left: -13px;
	background-color: #F5A685;
	z-index: 2;
	border-radius: 50%;
}

.timeline>li.timeline-inverted>.timeline-box{
	float: right;
}
.timeline-school {
	margin-top: -10px;
    font-style: italic;
    font-size: 90%;
}
.timeline-body {
    font-weight: 500;
    font-size: 110%;
}
.timeline-title {
    font-size: 100%;
    font-weight: normal;
}




@media screen and (max-width: 600px) {
	
  .timeline:before {
	left: 30px;
	}
  
  /* Full-width containers */
  .timeline>li>.timeline-box {
  width: 100%;
  padding-left: 70px;
  padding-right: 35px;
  }
  
  .timeline>li>.timeline-circle {
  position:absolute;
  left: 30px;
  }
  
  .timeline>li.timeline-inverted>.timeline-box{
  float: left;
  }
	
  .text-align-right{
  text-align: left;
  }
}
